In [22]:
import pandas as pd
import os

In [23]:
# loadd all file from directory on editor

file_name = [file for file in os.listdir('SalesAnalysis/Sales_Data/')]

mearge_df = pd.DataFrame()

for l in file_name:
    df = pd.read_csv(f'SalesAnalysis/Sales_Data/{l}')
    mearge_df = pd.concat([mearge_df,df])
    

mearge_df.shape

(186850, 6)

In [24]:
df = pd.read_csv('./merge_data_sales/all_date.csv')
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"

 ### clean up the data
* to clean as you perform operations and get errors. Based on the error, you decide how you should go about cleaning the data

In [25]:
# find NAN

nan_df = df[df.isna().any(axis=1)]
display(nan_df.head())
nan_df.shape

     Order ID Product Quantity Ordered Price Each Order Date Purchase Address
264       NaN     NaN              NaN        NaN        NaN              NaN
648       NaN     NaN              NaN        NaN        NaN              NaN
680       NaN     NaN              NaN        NaN        NaN              NaN
1385      NaN     NaN              NaN        NaN        NaN              NaN
1495      NaN     NaN              NaN        NaN        NaN              NaN

(545, 6)

In [26]:
 # drop na value

df = df.dropna(how='all')
df.shape

(186305, 6)

In [27]:
df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186305 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [34]:
df['Order Date'].unique()

array(['12/30/19 00:01', '12/29/19 07:03', '12/12/19 18:21', ...,
       '06/09/19 22:07', '06/26/19 18:35', '06/25/19 14:33'], dtype=object)